.activities {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  padding-bottom: 20px;
  display: flex;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.arrow-container span {
  font-size: 30px;
  padding: 30px;
  margin-top: 0;
}

/* .activity-container {
  position: relative;
} */

.activity {
  /* position: absolute; */
  opacity: 0;
  transition: opacity 1000ms fade-out;
}

.active-activity {
  opacity: 100%;
  transition: opacity 1000ms fade-in;
}

.activity-description {
  padding: var(--padding-mobile);
  color: var(--color-text-dark);
  background-position: center;
  background-size: cover;
}

.activity-description-1 {
  background-image: url("../images/bowling-background-white.jpg");
}
.activity-description-2 {
  background-image: url("../images/bowling-background-white.jpg");
}
.activity-description-3 {
  background-image: url("../images/bowling-background-white.jpg");
}
.activity-description-4 {
  background-image: url("../images/bowling-background-white.jpg");
}
