.activities {
  background-color: var(--color-highlight);
  color: var(--color-text-dark);
  /* padding-bottom: 20px; */
  display: flex;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.arrow-container-left {
  position: absolute;
  left: 0;
  top: 250px;
}
.arrow-container-right {
  position: absolute;
  right: 0;
  top: 250px;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  z-index: 80;
}

.arrow-container span {
  font-size: 30px;
  padding: 30px;
  margin-top: 0;
  color: var(--color-text-dark);
}

.activities-container {
  position: relative;
  width: 100vw;
}

.activity-placeholder {
  width: 100%;
  height: 500px;
}

.activity {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-activity {
  opacity: 100%;
  transition: opacity 1s;
}

.activity-description {
  padding: 50px;
  background-position: center;
  background-size: cover;
  font-size: 20px;
}

.activity-1 {
  color: var(--color-text-dark);
}

.activity-description-1 {
  background-image: url("../images/bowling-background-blue.jpg");
  background-position: center;
  background-size: cover;
}
.activity-description-2 {
  background-image: url("../images/bar-background-blue.jpg");
  background-position: center;
  background-size: cover;
}
.activity-description-3 {
  background-image: url("../images/billard-background-blue.jpg");
  background-position: center;
  background-size: cover;
}
.activity-description-4 {
  background-image: url("../images/jeux-background-blue.jpg");
  background-position: center;
  background-size: cover;
}

.bowling-image {
  background-image: url("../images/bowling-background.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
}
.bar-image {
  background-image: url("../images/bar-background.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
}
.billard-image {
  background-image: url("../images/billard-background.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
}
.jeux-image {
  background-image: url("../images/jeux-background.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .arrow-container {
    display: none;
  }

  .activities-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    /* padding-bottom: 120px; */
  }

  .activity {
    position: static;
    opacity: 100%;
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .activity-description {
    padding: var(--padding-desktop);
  }

  .activity-2 {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
  }

  .activity-3 {
    background-color: var(--color-background-light);
  }

  .activity-description-1,
  .activity-description-2,
  .activity-description-3,
  .activity-description-4 {
    background-image: none;
  }

  .activity-image {
    width: 50%;
  }
}
