.cookie-text-header {
  font-size: 20px;
  margin: 5px;
}
.cookie-text {
  margin: 5px;
  font-size: 20px;
}

#rcc-decline-button {
  background-color: var(--color-background) !important;
  border: 2px solid var(--color-highlight) !important;
  font-family: "Archivo" !important;
}

#rcc-confirm-button {
  background-color: var(--color-highlight) !important;
  color: var(--color-background-light);
  font-family: "Archivo" !important;
}

.CookieConsent {
  background-color: var(--color-background-dark) !important;
  text-align: left !important;
}

.CookieConsent button {
  font-family: "Archivo" !important;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .cookie-text-header {
    font-size: 30px;
  }
  .cookie-text {
    font-size: 30px;
  }
}
