:root {
  --color-highlight: #00ffff;
  --color-shadow: #eaeaea;
  --color-text-light: #fff;
  --color-text-dark: #000;
  --color-background-dark: #000;
  --color-background-light: #fff;

  --font-size-mobile: 20px;
  --font-size-desktop: 35px;
  --line-height-mobile: 30px;
  --line-height-desktop: 40px;

  --padding-mobile: 20px;
}

@font-face {
  font-family: "Futura";
  src: local("Futura"),
    url(../fonts/futura/futura\ light\ bt.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Futura Bold";
  src: local("Futura Bold"), url(../fonts/futura/futur.ttf) format("truetype");
  font-display: swap;
}

html {
  font-size: calc(60% + 0.8vmin);
  font-family: Futura;
}

body {
  margin: 0;
  text-align: center;
}

main {
  max-width: 40rem;
  margin: 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
  margin: 0;
  padding: var(--padding-mobile);
}

h3 {
  font-size: 1.3rem;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 30px;
  margin: 20px;
}

.flag {
  width: 25px;
  margin: 5px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

.invisible-button {
  border: none;
  background-color: transparent;
  width: 20px;
  margin: 10px;
}

.header-placeholder {
  height: 80px;
  background-color: var(--color-background-dark);
}

.divider {
  background-color: var(--color-background-dark);
  height: 100px;
  width: 100vw;
}
