:root {
  --color-highlight: #00ffff;
  --color-shadow: #eaeaea;
  --color-text-light: #fff;
  --color-text-dark: #000;
  --color-background-dark: #000;
  --color-background-light: #fff;

  --font-size-mobile: 20px;
  --font-size-desktop: 35px;
  --line-height-mobile: 30px;
  --line-height-desktop: 40px;

  --margin-mobile: 0 50px;
  --padding-mobile: 0 20px;

  --margin-desktop: 50px 200px;
  --padding-desktop: 50px;
}

@font-face {
  font-family: "Archivo";
  src: local("Archivo"),
    url(../fonts/Archivo/Archivo-VariableFont.ttf) format("truetype");
  font-display: swap;
}

html {
  font-size: 30px;
  font-family: "Archivo";
  font-weight: 100;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--color-background-dark);
}

main {
  max-width: 40rem;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 6vw;
  margin: 20px 0 0 0;
  font-weight: 900;
}

h2 {
  font-size: 8.5vw;

  /* padding: var(--padding-mobile); */
}
h3 {
  font-size: 1.3rem;
}

p {
  line-height: 25px;
}

.p-no-margin {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flag {
  width: 25px;
  margin: 5px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

.invisible-button {
  border: none;
  background-color: transparent;
  margin: 10px;
}

.dots {
  margin: 20px 0;
  position: relative;
  bottom: 0;
  left: 0;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: var(--color-background-light);
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.active-dot {
  background-color: var(--color-highlight);
}

.header-placeholder-mobile {
  height: 80px;
  background-color: var(--color-background-dark);
  overflow: hidden;
}

.button-container {
  margin: 50px;
}

.button {
  background-color: #000;
  color: var(--color-text-light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease-in;
  font-size: 15px;
}

.disabled-button {
  background-color: grey;
  transition: background-color 0.3s ease-in;
}

.reservation-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: var(--color-highlight);
  color: var(--color-text-dark);
  padding: 10px;
  z-index: 999;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 15px;
}

.phone-icon {
  width: 10px;
  margin: 0 5px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 25px;
    line-height: 30px;
  }

  .dots {
    display: none;
  }
  .header-placeholder {
    height: 80px;
    background-color: var(--color-background-dark);
  }
  .header-placeholder-mobile {
    display: none;
  }

  .reservation-button {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .invisible-button {
    width: 20px;
  }
}
