.intro {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  padding: var(--padding-mobile);
  overflow: hidden;
}

.intro h1 {
  color: var(--color-highlight);
}

@media only screen and (min-width: 768px) {
  .intro {
    padding: var(--padding-desktop);
  }
}
