.intro {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  padding: var(--padding-mobile);
  overflow: hidden;
}

.intro-text p {
  font-size: 20px;
}

.intro h1 {
  color: var(--color-highlight);
}

.intro h2 {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .intro {
    padding: var(--padding-desktop);
  }
  .intro-text p {
    font-size: 35px;
  }
}
