.live-sports {
  background-image: url("../images/live-sports-bg.jpg");
  background-position: center;
  padding: var(--padding-mobile);
  background-repeat: no-repeat;
  background-size: cover;
}

.live-sports-coded {
  background-image: none;
  background-color: var(--color-highlight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program-coded {
  margin: var(--margin-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/sports-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.program-container {
  background-color: rgb(0, 0, 0, 0.65);
  width: 80%;
  margin: 10px 0;
  padding: 20px;
}

.program {
  color: var(--color-text-light);
  padding: 10px;
  margin: var(--margin-mobile);
  background-color: #000;
}

.program-day {
  font-size: 25px;
  margin: 20px;
  text-transform: uppercase;
}

.program-info {
  display: flex;
  justify-content: space-around;
}

.date-container {
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 25px;
  margin: 0;
}

.month {
  font-size: 15px;
  margin: 10px 0;
}

.program-info table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.program table {
  text-align: left;
  font-size: 10px;
}

.program td {
  padding-right: 5px;
  width: fit-content;
}

.week-program {
  width: 100%;
  height: auto;
}

.insta {
  margin: 50px 0;
}

.insta-feed {
  z-index: 5;
  width: 100vw;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .live-sports {
    padding: var(--padding-desktop);
  }
  .program {
    margin: var(--margin-desktop);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .date {
    font-size: 30px;
    margin: 0;
  }

  .month {
    font-size: 20px;
    margin: 10px 0;
  }

  .program-coded {
    padding: 120px 0;
  }

  .program-day {
    font-size: 40px;
    margin: 20px;
  }

  .program table {
    font-size: 20px;
  }
  .program td {
    padding: 0 15px;
    min-width: 120px;
  }
}
