.live-sports {
  background-image: url("../images/live-sports-bg.jpg");
  background-position: center;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.program {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  padding: var(--padding-mobile);
  margin: var(--margin-mobile);
}

.program-day {
  font-size: 20px;
  margin: 20px;
}

.program table {
  text-align: left;
  font-size: 12px;
}

.program td {
  padding-right: 5px;
}

.week-program {
  width: 100%;
  height: auto;
}

.insta-feed {
  z-index: 5;
}
