.contact {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-highlight);
  color: var(--color-text-dark);
  /* text-shadow: #000 1px 0 20px; */
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-map-iframe {
  filter: grayscale(100%);
  margin: auto;
  width: 100vw;
  height: 50vh;
}

.iframe-google {
  width: 100%;
  height: 50vh;
}

@media only screen and (min-width: 768px) {
  .iframe-google {
    width: 40vw;
    height: 30vw;
    margin: auto;
  }
  .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: var(--color-text-dark);
  }
  .map {
    width: 50%;
  }

  .google-map-iframe {
    margin: 50px 0;
    width: 100%;
    height: 33vw;
  }
}
